---

name: "Linting"

on: ["push", "pull_request"]

jobs:
  lint:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v4"

      - name: "Set up Python"
        uses: "actions/setup-python@v5"
        with:
          python-version: "3.12"

      - name: "Install Poetry"
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          poetry install

      - name: "Run ruff formatting"
        run: "poetry run ruff format --check ."

      - name: "Run ruff linting"
        run: "poetry run ruff check ."
